#subButton {
    width: 100%;
    background:cornflowerblue;
    color: white;
    font-size: 25px;
    margin-top: 25px;
}
.login .back{
    text-align: right;
}
.login .back a{
    font-size: 1.5rem;
}
.login form .input-group{
    margin: 0.5rem 0;
}
.login form{
    padding: 0 1rem;
}